*
__pycache__/

!.gitignore
!.gitattributes
!*.py
!*.yml
!*.yaml
!*.json
!*.md
!*.sh
!README
!readme
!LICENSE
!requirements.txt
!.gitkeep

!assets/
!assets/*.txt

!project/
!project/*
!project/*/*.py
!project/*/*/
!project/*/*/*.py

!third_party/
!third_party/*
!third_party/*/**.py
!third_party/*/**.sh
!third_party/*/**.yaml

!tools/
!tools/*