pip
python-hostlist
packaging>=24.2
setuptools>=78.1.1
wheel
expecttest
debugpy
numpy==2.1.0
fvcore==0.1.5.post20221221
jsonc_parser==1.1.5
pyarrow==22.0.0
pandas==2.3.3
einops==0.8.1
omegaconf==2.3.0
peft==0.17.1
transformers==4.57.1
ftfy==6.3.1
diffusers==0.37.0
av==15.1.0
imageio-ffmpeg==0.6.0
tensorboard==2.20.0
imageio==2.37.2
decord2==3.3.0
easydict==1.13
librosa==0.11.0
audio_separator==0.41.1
onnxruntime==1.23.2
dashscope==1.25.11
moviepy==2.2.1
torch==2.11.0+cu128
torchvision==0.26.0+cu128
torchaudio==2.11.0+cu128
torchcodec==0.11.0+cu128
torchao==0.16.0
pyiqa==0.1.10
